
<app-nav-tab (listCreated)="onListCreation($event)">
</app-nav-tab>
<div class="container">
    <div class="row">
       <h1>My To Do </h1>
    </div>
     <hr/>
    <!-- <app-list
      *ngFor="let list of myAppList"
      [mylists]="list"
     (listSelected)="listShow = $event">
    </app-list> -->
    <ng-container
    *ngIf="!clicked">
    <app-list
      *ngFor="let list of myAppList"
      [mylists]="list"
      (listSelected)="listDetailsShow($event)">
    </app-list>
    </ng-container>


    <app-list-details
      *ngIf="clicked; else defaultText;"
      [showListDetails]="listShow">
    </app-list-details>
    <ng-template #defaultText>
      <p>not selected</p>
    </ng-template>
</div>


