
<!-- <div class="container"> -->
    <!--
    <hr/> -->
    <!-- <div *ngFor="let list of mylists"> -->
    <!-- <ng-content></ng-content> -->
    <a href="#"
    (click)="showDetails()">
    <div class="row">
        <div class="col-md-3">
            <input type="checkbox">
        </div>
        <div class="col-md-6">
            <p>{{mylists.name}}</p>
        </div>
        <div class="col-md-3">
            <button class="btn btn-danger">Delete</button>
        </div>
    </div>
  </a>
    <hr/>
<!-- test-->
    <!-- </div> -->

<!-- </div> -->
